body {

    font-family: sans-serif;

    background: #f5f5f5;

    padding: 40px;
}

h1 {

    color: orange;
}

.container {

    display: flex;

    gap: 30px;

    flex-wrap: wrap;
}

.food-card,
.cart {

    background: white;

    padding: 20px;

    border-radius: 20px;

    width: 320px;

    box-shadow:
        0 4px 10px rgba(0,0,0,0.1);
}

.food-card img {

    border-radius: 12px;
}

button {

    background: orange;

    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 10px;

    cursor: pointer;

    width: 100%;

    font-size: 16px;
}

button:hover {

    opacity: 0.9;
}

.cart-item {

    border-bottom: 1px solid #ddd;

    padding: 10px 0;
}

.total {

    font-size: 24px;

    font-weight: bold;

    color: green;

    margin-top: 20px;
}

.container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;

    margin-top: 30px;
}

.food-card {

    width: 300px;

    background: white;

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    padding-bottom: 20px;

    text-align: center;
}

.food-card img {

    width: 100%;

    height: 220px;

    object-fit: cover;
}

.food-card h2 {

    margin-top: 15px;
}

.food-card button {

    margin-top: 10px;

    padding: 10px 20px;

    border: none;

    border-radius: 8px;

    background: black;

    color: white;

    cursor: pointer;
}